span{
    color:orange;
}

section{
    background-image: url("../images/main-visual.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*高さ*/
    height: 400px;
    /*幅*/
    width: 100%;
    /* 上側の内余白 */
    padding-top: 60px;
    /* 余白計算（ぷらすされる計算）を含み計算（組み込んだ計算）にする */
    box-sizing: border-box;
    
}

.wrapper{
    /* 最大でも1000pxまで */
    max-width: 1000px;
    margin: 0 auto;
}



p{
    color: white;
    text-align: center;
}

.main-catch{
    font-size: 48px;
    font-weight: bold;
}

.cta-button{
    /* まずは無料カウンセリングから を調整する */
    color: white;
    /* 背景色をオレンジに */
    background-color: orange;
    /* 下線をなくす */
    text-decoration: none;
    /* 太字にする */
    font-weight: bold;
    /* 内側の余白: 左右 上下 */
    padding: 3% 5%;
    /* 角の丸み 左上 右上 右下 左下*/
    border-radius: 8px;
    
    /* 中央に揃える */
    /* 性格(性質)を捻じ曲げる */
    display: block;
    /* 中央揃え */
    text-align: center;
    /* 幅を絞る */
    width: 30%;
    /* 外側の余白 */
    /* margin-top: 20px;
    margin-left: auto;
    margin-right: auto; */
    margin: 20px auto 0px;
}